.addForm{
    border: 2px solid white;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.divPai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs{
    padding: 0.5rem 1rem;
}

.inputs:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

.tableData td{
    border: 2px solid white;
    padding: 0.5rem;
}

.divTable{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    padding: 2rem;
}

.links{
    text-decoration: none;
    background-color: white;
    padding: 1rem 2rem;
}

.links:hover{
    background-color: rgb(201, 87, 201);
    transition: 0.3s;
    color: black;
}