* {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

body{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}